<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyName</key>
	<string>Value</string>
	<key>Message</key>
	<string>This Is My Message</string>
	<key>Title</key>
	<string>This Is My Title</string>
</dict>
</plist>
